*{
    margin: 0%;
    padding: 0%;
    
}

.container{
    background: radial-gradient(circle, #ffcccc, #4CAF50);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


table {
    background-color: #97b98a;
    border-collapse: collapse;
    width: 60vw;
    max-width: 60vw;
    margin: 2vw auto;
    font-family:'Roboto', sans-serif;
    height:auto;
    
  }

th, td {
    border: 0.1vw solid #0a0007;
    padding: 0.8vw;
    text-align: left;
    color: #000000;
    
  }

th {
    background-color: hsl(127, 91%, 22%);
    font-weight: bold;
    color: #ffffff;
}

a{
    
    color: #ffffff;
}

td:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

/*:hover{
    background-color: #f2f2f2;
    color:#001F3F
}*/

.menu{
    text-decoration: none;
    /*background-color: #019b04;*/
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;

}

button{
    
    margin-right: 2vh;
    background-color: red; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    
}

.boton{
    
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.nuevo{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #001F3F50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}


img{
    width: 6vw;
    height: 10vh;
}



