<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSyD - Actividades</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
    <title>Actividades Deportivas</title>
</head>
<header>
    <h1><i class="fas fa-running"></i> Club Social y Deportivo</h1>
    <nav>
        <ul>
            <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
                <li><a href="/templates/ubicacion.html">Ubicación</a></li>
        </ul>
    </nav>
</header>
<body>
        <p style="text-align: center; text-transform: capitalize; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Nuestras actividades Deportivas</p>
    <main>
        <div class="gallery">
            <div class="image-container">
                <img src="/static/img/tenis.jpeg" alt="tenis" class="zoom">
                <h3>Tenis</h3>
            </div>
            <div class="image-container">
                <img src="/static/img/basket.jpg" alt="basket" class="zoom">
                <h3>Basket</h3>
            </div>
            <div class="image-container">
                <img src="/static/img/futbol.png" alt="futbol" class="zoom">
                <h3>Fútbol</h3>
            </div>
            <div class="image-container">
                <img src="/static/img/Handball.jpeg" alt="Handball" class="zoom">
                <h3>Handball</h3>

            </div>
            <div class="image-container">
                <img src="/static/img/voley.jpg" alt="voley" class="zoom">
                <h3>Voley</h3>
            </div>
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ya827njQQe4?si=FeGpWskNREssOzLz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>>
        </div>
    </main>
<footer>
    <!-- Pie de página aquí -->
    <p>&copy;2024 - Club social y Deportivo - Todos los derechos reservados.</p>
</footer>

</body>
</html>