<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSyD - Contacto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <h3 style="text-align: center;">Formulario de Consulta</h3>
    <form id="formulario" onsubmit="return validarDatos()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="actividad">Actividad: ⚽🎾🏀🥎🏐</label>
        <select id="actividad" name="actividad">
            <option hidden selected value="">Elija un deporte</option>
            <option value="futbol">Fútbol </option>
            <option value="tenis">Tenis</option>
            <option value="basket">Basketball</option>
            <option value="handball">Handball</option>
            <option value="voley">Voley</option>
        </select>
        <br>
        <p>Genero:</p>
        <input type="radio" id="genero1" name="genero" value="m">
        <label for="genero1">🚹Masculino</label>
        <input type="radio" id="genero2" name="genero" value="f">
        <label for="genero2">🚺Femenino</label>
        <input type="radio" id="genero3" name="genero" value="mixto" required>
        <label for="genero3">🚻Mixto</label>
        <br><br>
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" placeholder="Ingrese sus consulta aquí" required></textarea>
        <br>
        <input type="checkbox" id="politica" name="politica" required>
        <label for="politica">Acepto la política de privacidad</label>
        <br>
        <div id="campos"></div><br>
        <input type="submit" value="Enviar">
    </form>
    <br>
    <footer>
        <p>&copy;2024 - Club social y Deportivo - Todos los derechos reservados.</p>
        <h2>Seguinos en nuestras redes</h2>
        <a href="https://www.facebook.com" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com" target="_blank"><img src="/static/img/signo-de-twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="/static/img/youtube.png" alt="youtube"></a>
    </footer>
    <script src="/static/js/validacion.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>