<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSyD - Ubicación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <main>
        <h3 style="text-align: center;">Nuestras Direcciones</h3>

    <div id="mapContainer">
        <div class="location" id="location1" onclick="changeMap('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d410.21910423627753!2d-58.66829639672152!3d-34.660944517259566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc0a02f6f08d3%3A0x75e4ab1bca9950a2!2sClub%20Atl%C3%A9tico%20Ituzaing%C3%B3!5e0!3m2!1ses-419!2sar!4v1715712236841!5m2!1ses-419!2sar')"><span style="font-weight: 600;">SEDE</span> - Los Pozos 48, B1714PQB Ituzaingó, Provincia de Buenos Aires</div>
        <div class="location" id="location2" onclick="changeMap('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6562.550180280454!2d-58.665054!3d-34.673006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc1d4135df169%3A0x7dae612d8e912bfb!2sCiudad%20Deportiva%20del%20Club%20Atl%C3%A9tico%20Ituzaing%C3%B3!5e0!3m2!1ses-419!2sar!4v1715712276998!5m2!1ses-419!2sar')"><span style="font-weight: 600;">Campo de Deportes</span> - RP21 1199 1299, B1714 Castelar, Provincia de Buenos Aires</div>
    </div>

    <div id="map">
    <!-- El mapa de Google Maps se actualizará aquí --> 
    </div>
    <br>
    <footer>

        <p>&copy;2024 - Club social y Deportivo - Todos los derechos reservados.</p>
        <h2>Seguinos en nuestras redes</h2>
        <a href="https://www.facebook.com" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com" target="_blank"><img src="/static/img/signo-de-twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="/static/img/youtube.png" alt="youtube"></a>
        
    </footer>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>
