<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSyD - Ubicación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <header>
        <h1><i class="fas fa-running"></i> Club Social y Deportivo</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/actividades.html">Actividades</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2320.2068063333745!2d-58.667436776494796!3d-34.67318666602551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc1d4135df169%3A0x7dae612d8e912bfb!2sCiudad%20Deportiva%20del%20Club%20Atl%C3%A9tico%20Ituzaing%C3%B3!5e0!3m2!1ses-419!2sar!4v1715178527437!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>

    <footer>

        <p>&copy;2024 - Club social y Deportivo - Todos los derechos reservados.</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>